        .search-container {
            background-color: #fff;
            padding: 30px 40px;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(172, 1, 1, 0.1);
            text-align: center;
            width: 600px;
        }

        .search-container h2 {
            margin-bottom: 20px;
            color: #333;
        }

        .search-container input[type="text"] {
            width: 100%;
            padding: 10px 15px;
            margin-bottom: 15px;
            border-radius: 5px;
            border: 1px solid #ccc;
            font-size: 16px;
        }

        .search-container button {
            width: 100%;
            padding: 10px;
            border: none;
            background-color: #ed201f;
            color: white;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }

        .search-container button:hover {
            background-color: black;
        }

        .result {
            margin-top: 20px;
            font-size: 16px;
            color: #333;
        }