.parcel-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.parcel-table th, .parcel-table td {
  border: 1px solid #ddd;
  padding: 8px 10px;
  text-align: left;
}

.parcel-table th {
  background-color: #ed201f;
  color: white;
  font-weight: 600;
}

.parcel-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.parcel-table tr:hover {
  background-color: #eef6ff;
}
